
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-481527001111331710.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-481527001111331710.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-481527001111331710.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-481527001111331710.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-481527001111331710.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-481527001111331710.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-481527001111331710.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-481527001111331710.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-481527001111331710.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-481527001111331710.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-481527001111331710.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-481527001111331710.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-481527001111331710.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-481527001111331710.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-481527001111331710.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-481527001111331710.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-481527001111331710.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-481527001111331710.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-481527001111331710.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-481527001111331710.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-481527001111331710.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-481527001111331710.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-481527001111331710.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-481527001111331710.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-481527001111331710.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-481527001111331710.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-481527001111331710.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-481527001111331710.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-481527001111331710.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-481527001111331710.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-481527001111331710.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-481527001111331710.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-481527001111331710.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-481527001111331710.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-481527001111331710.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-481527001111331710.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-481527001111331710.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-481527001111331710.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-481527001111331710.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-481527001111331710.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-481527001111331710.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-481527001111331710.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-481527001111331710.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-481527001111331710.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-481527001111331710.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-481527001111331710.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-481527001111331710.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-481527001111331710.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-481527001111331710.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-481527001111331710.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-481527001111331710.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-481527001111331710.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-481527001111331710.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-481527001111331710.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-481527001111331710.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-481527001111331710.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-481527001111331710.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-481527001111331710.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-481527001111331710.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-481527001111331710.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-481527001111331710.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-481527001111331710.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-481527001111331710.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-481527001111331710.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-481527001111331710.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-481527001111331710.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-481527001111331710.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-481527001111331710.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-481527001111331710.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-481527001111331710.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-481527001111331710.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-481527001111331710.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-481527001111331710.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-481527001111331710.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-481527001111331710.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-481527001111331710.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-481527001111331710.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-481527001111331710 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-481527001111331710 .gp-g-s-medium{padding:8px 24px}.gps-481527001111331710 .gp-fixed{position:fixed}.gps-481527001111331710 .gp-relative{position:relative}.gps-481527001111331710 .gp-top-\[27px\]{top:27px}.gps-481527001111331710 .gp-z-\[100\]{z-index:100}.gps-481527001111331710 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-481527001111331710 .gp-mb-0{margin-bottom:0}.gps-481527001111331710 .gp-block{display:block}.gps-481527001111331710 .gp-inline-block{display:inline-block}.gps-481527001111331710 .gp-flex{display:flex}.gps-481527001111331710 .gp-inline-flex{display:inline-flex}.gps-481527001111331710 .gp-grid{display:grid}.gps-481527001111331710 .\!gp-hidden{display:none!important}.gps-481527001111331710 .gp-hidden{display:none}.gps-481527001111331710 .gp-h-auto{height:auto}.gps-481527001111331710 .gp-h-full{height:100%}.gps-481527001111331710 .gp-w-full{width:100%}.gps-481527001111331710 .gp-max-w-full{max-width:100%}.gps-481527001111331710 .gp-flex-none{flex:none}.gps-481527001111331710 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-481527001111331710 .gp-flex-col{flex-direction:column}.gps-481527001111331710 .gp-items-center{align-items:center}.gps-481527001111331710 .gp-justify-start{justify-content:flex-start}.gps-481527001111331710 .gp-justify-center{justify-content:center}.gps-481527001111331710 .gp-overflow-hidden{overflow:hidden}.gps-481527001111331710 .gp-break-words{overflow-wrap:break-word}.gps-481527001111331710 .gp-rounded{border-radius:4px}.gps-481527001111331710 .\!gp-bg-none{background-image:none!important}.gps-481527001111331710 .gp-p-\[16px\]{padding:16px}.gps-481527001111331710 .gp-text-\[14px\]{font-size:14px}.gps-481527001111331710 .gp-leading-normal{line-height:1.5}.gps-481527001111331710 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-481527001111331710 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-481527001111331710 .gp-no-underline{text-decoration-line:none}.gps-481527001111331710 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-481527001111331710 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-481527001111331710 .gp-duration-200{transition-duration:.2s}.gps-481527001111331710 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-481527001111331710 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-481527001111331710 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-481527001111331710 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-481527001111331710 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-481527001111331710 .tablet\:gp-block{display:block}.gps-481527001111331710 .tablet\:\!gp-hidden{display:none!important}.gps-481527001111331710 .tablet\:gp-hidden{display:none}.gps-481527001111331710 .tablet\:gp-h-auto{height:auto}.gps-481527001111331710 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-481527001111331710 .mobile\:gp-block{display:block}.gps-481527001111331710 .mobile\:\!gp-hidden{display:none!important}.gps-481527001111331710 .mobile\:gp-hidden{display:none}.gps-481527001111331710 .mobile\:gp-h-auto{height:auto}.gps-481527001111331710 .mobile\:gp-flex-none{flex:none}}.gps-481527001111331710 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-481527001111331710 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzamW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzZmW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzaGW5Kb8VZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzamW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzZmW5Kb8VZBHR.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDcZGJYnIjSi6H75xkzaGW5Kb8VZA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g9YBHjGKsC"}' data-id="g9YBHjGKsC" id="g9YBHjGKsC" data-same-height-subgrid-container class="g9YBHjGKsC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--pt-mobile:var(--g-s-l);--pl-mobile:15px;--pb-mobile:var(--g-s-s);--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gdlagNg7Xi gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gW8w4zMepc"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-group/image gp-relative force-publish-1783603162088 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gW8w4zMepc"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      alt="{{ section.settings.ggW8w4zMepc_alt }}" title="{{ section.settings.ggW8w4zMepc_title }}" width="6912" height="3456" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "481520328258880382-63953c8c-79b7-4105-a8a8-5f5a8cf787ce.png" | asset_url }}" isNotLazyload="true" srcset base-src="{{ "481520328258880382-63953c8c-79b7-4105-a8a8-5f5a8cf787ce.png" | asset_url }}" loading="lazy"
      id=""
      style="--w:800px;--w-tablet:800px;--w-mobile:800px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none);--aspect:6912/3456;--aspect-tablet:6912/3456;--aspect-mobile:6912/3456;--objf:fill"
      class="gp-inline-block gp-w-full gp-max-w-full"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-pI-WgXbO"
        class="g-pI-WgXbO"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mt-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--pt-mobile:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:41px;--size-mobile:16px;--c:#E2AC6E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gg-pI-WgXbO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
  
    <div
      data-id="gTkwjX5Z17"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-l);--pb-mobile:auto;--ta:left;--bgc:#eee;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gTkwjX5Z17 gp-custom-code">
      <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3462.846609544707!2d-95.408586!3d29.7820766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c745ee37d103%3A0xd2556c3e9a0b4158!2s600%20N%20Shepherd%20Dr%2C%20Houston%2C%20TX%2077007!5e0!3m2!1sen!2sus!4v1696540479752!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
  <div gp-el-wrapper style="--b:solid;--bc:#E2AC6E;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:16px;--pb:16px" class="gDaULl0__i ">
      
    <div data-id="gDaULl0__i" class="gp-flex gp-justify-start">
      <div style="--w:100px;--w-tablet:100px;--w-mobile:100px;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#E2AC6E" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100px;--w-tablet:100px;--w-mobile:100px;--bc:#E2AC6E;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#E2AC6E;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px;--w:100px;--w-tablet:100px;--w-mobile:100px"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#E2AC6E;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px;--w:100px;--w-tablet:100px;--w-mobile:100px"></div>
      </div>
    </div>
  
      </div>
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gnjNw1Jcxk"}' data-id="gnjNw1Jcxk" id="gnjNw1Jcxk" data-same-height-subgrid-container class="gnjNw1Jcxk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-xl);--mb:var(--g-s-xl);--cg:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gLg4VxlAVW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_WKqkhZ3-"
        class="g_WKqkhZ3-"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:var(--g-s-l);--pt:var(--g-s-3xl);--mt-mobile:0px;--mb-mobile:var(--g-s-l);--pt-mobile:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-text-2 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--c:#E2AC6E;--fs:normal;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-heading, heading);--weight:700;--size:48px;--size-tablet:48px;--size-mobile:22px;word-break:break-word;overflow:hidden"
        >
          {{ section.settings.gg_WKqkhZ3-_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZLGTP_tMo"
        class="gZLGTP_tMo"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:12px;--size-mobile:11px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggZLGTP_tMo_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_L9HErsBz"
        class="g_L9HErsBz"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:41px;--size-mobile:21px;--fs:italic;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.gg_L9HErsBz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div class="gp-mx-auto gp-max-w-full" style="--w:100%;--pl:var(--g-s-l);--pr:var(--g-s-l);--pt:var(--g-s-m);--pb:var(--g-s-xl);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)">
      <gp-form
        data-id="gfxqFS2ivK" id="gfxqFS2ivK" data-submit-action="stay-on-page"
        data-callback='{"link":"","target":"_self"}'
      >
        <a
          hidden="true" id="gp-form-callback-gfxqFS2ivK"
        >
        </a>
        {% form 'customer', class: 'gp-form-gfxqFS2ivK ', id: 'contact_form_gfxqFS2ivK' %}
          {% if form.errors %}
            <div
              id="gp-form-error-gfxqFS2ivK"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#FFE9E9;left:50%;transform:translateX(-50%)"
            >
              {{ section.settings.ggfxqFS2ivK_errorMessage }}
            </div>
          {% endif %}
          <div popover id="my-popover-gfxqFS2ivK">
            <style>
              
    #my-popover-gfxqFS2ivK::backdrop {
      width: fit-content;
      height: fit-content;
    }
  
            </style>
            <div
              id="gp-form-success-gfxqFS2ivK"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#F2FFEC;left:50%;transform:translateX(-50%)"
            >
              {{ section.settings.ggfxqFS2ivK_successMessage }}
            </div>
          </div>
          
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZhLDnhTJL"}' data-id="gZhLDnhTJL" id="gZhLDnhTJL" data-same-height-subgrid-container class="gZhLDnhTJL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--cg-mobile:0px;--gtc:minmax(0, auto) minmax(0, auto);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnDS61y8lM gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="gxq7h4lfua"
      class="gxq7h4lfua flex flex-col"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 gp-g-s-medium !gp-outline-none !gp-bg-none email-form-gxq7h4lfua"
        style="--w:auto;--h:auto;--b:solid;--bc:#e2e2e2;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="{{ section.settings.ggxq7h4lfua_placeholder }}"
        name="contact[email]"
        required
        autocomplete="email"
        
      ></input>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gf_qx7fM4p gp-relative gp-flex gp-flex-col"
    >
      
    
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left;--ta-mobile:center" >
        <style>[data-id="gy_JvPuRfT"].gp-button-base::before, [data-id="gy_JvPuRfT-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    
    
  
    }
  
      
  [data-id="gy_JvPuRfT"]:hover::before, [data-id="gy_JvPuRfT-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gy_JvPuRfT" dataId="gy_JvPuRfT" data-state="idle" aria-label="Subscribe"
          
          type="submit"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--shadow:none;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px"
          class="gy_JvPuRfT gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggy_JvPuRfT_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
  
    </div>

      
    </gp-row>
  
  
        {% endform %}
      </gp-form>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-form-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="ga6t3shltr gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gNIXJakjUu"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
      class="gp-group/image gp-relative force-publish-1783603162100 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gNIXJakjUu"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      alt="{{ section.settings.ggNIXJakjUu_alt }}" title="{{ section.settings.ggNIXJakjUu_title }}" width="1600" height="1426" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "481520328258880382-6597cb8f-f4a3-4fa7-a835-d2292a49bdc3.JPG" | asset_url }}" isNotLazyload="true" srcset base-src="{{ "481520328258880382-6597cb8f-f4a3-4fa7-a835-d2292a49bdc3.JPG" | asset_url }}" loading="lazy"
      id=""
      style="--w:800px;--w-tablet:800px;--w-mobile:800px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none);--aspect:1600/1426;--aspect-tablet:1600/1426;--aspect-mobile:1600/1426;--objf:fill"
      class="gp-inline-block gp-w-full gp-max-w-full"
    />
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-481527001111331710 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/hush-hush-tan/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=481520346646709406&sectionId=481527001111331710)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggW8w4zMepc_srcSet_desktop_src","label":"ggW8w4zMepc_srcSet_desktop_src","default":"https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"},{"type":"html","id":"ggW8w4zMepc_alt","label":"ggW8w4zMepc_alt","default":"Hush Hush Tan new location coming soon to houston texas"},{"type":"html","id":"ggW8w4zMepc_title","label":"ggW8w4zMepc_title","default":"Image Title"},{"type":"html","id":"gg-pI-WgXbO_text","label":"gg-pI-WgXbO_text","default":"<p><span style=\"color:#E2AD6F;\"><strong>M-K-T Heights</strong></span></p><p><span style=\"color:#E2AD6F;\"><strong>600 N Shepherd Dr, Ste. 128, Houston, TX 77007</strong></span></p>"},{"type":"html","id":"gg_WKqkhZ3-_text","label":"gg_WKqkhZ3-_text","default":"<p><span style=\"font-size:37px;\">STAY UP TO DATE</span></p>"},{"type":"html","id":"ggZLGTP_tMo_text","label":"ggZLGTP_tMo_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(87,87,87);font-size:19px;\">Be the first to know about exciting announcements for the newest Hush Hush Tan location!</span></p>"},{"type":"html","id":"gg_L9HErsBz_text","label":"gg_L9HErsBz_text","default":"<p><span style=\"font-size:14px;\">*Opening End of 2023</span></p>"},{"type":"html","id":"ggfxqFS2ivK_successMessage","label":"ggfxqFS2ivK_successMessage","default":"Thank you for subscribing!"},{"type":"html","id":"ggfxqFS2ivK_errorMessage","label":"ggfxqFS2ivK_errorMessage","default":"Unable to subscribe. Please try again later."},{"type":"html","id":"ggxq7h4lfua_placeholder","label":"ggxq7h4lfua_placeholder","default":"Email"},{"type":"html","id":"ggy_JvPuRfT_label","label":"ggy_JvPuRfT_label","default":"Subscribe"},{"type":"html","id":"ggNIXJakjUu_srcSet_desktop_src","label":"ggNIXJakjUu_srcSet_desktop_src","default":"https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"},{"type":"html","id":"ggNIXJakjUu_alt","label":"ggNIXJakjUu_alt","default":"Hush Hush Tan new location coming soon to houston texas"},{"type":"html","id":"ggNIXJakjUu_title","label":"ggNIXJakjUu_title","default":"Image Title"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}